<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.modules.nav_link.NavLinkMapper">
    <select id="getAll" resultType="com.example.demo.modules.nav_link.model.ResNavSimple">
        SELECT
            c.id,
            c.pid,
            c.name,
            c.sort,
            l.name webName,
            l.url webUrl,
            l.logo webLogo,
            l.sort webSort,
            l.category_id webCategoryId,
            l.id webId
        FROM
            category c
                LEFT JOIN nav_link l ON c.id = l.category_id
        ORDER BY
            c.sort DESC,
            l.sort DESC
    </select>
</mapper>